services:
  app:
    build: .
    container_name: python-app
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    container_name: nginx-web
    ports:
      - "8088:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
